
/* Header Styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

nav {
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  align-items: center;
  z-index: 999;
}
.logo{
  width: 260px;
  height: 60px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0;
  font-size: 20px;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  display: block;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #555;
}
.btn-main {
  height: 50px;
  width: 130px;
  font-weight: 450;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 5px 10px;
  font-family: "Poppins", sans-serif;
  border-top: 2px solid rgba(255, 49, 49, 0.5);
  border-right: 2px solid rgba(0, 255, 255, 0.5);
  border-bottom: 2px solid rgba(57, 255, 20, 0.5);
  border-left: 2px solid rgba(88, 241, 6, 0.5);
}
.btn-main:hover{
  opacity: 0.7;
  font-weight: bold;
}
.toggle-icon{
  display: none;
}

/* Hero Section */
.HeroNew{
  padding-top: 50px;
  display: flex;
  height: 1150px;
  width: 100%;
  background: rgba(0, 0, 0, 1) url('./assets/techbanner.jpg') center/cover no-repeat; 
  align-items: center;
  justify-content: center;
  text-align: center;
 
}
.text-container {
  justify-content: center;
  padding-bottom: 200px;
 
}.text-container h1{
  display: flex;
  padding: 2px 2px;
  font-weight: 900;
  font-size: 4.5rem;
  color: #ffffff;
  -webkit-text-stroke: 3px #000000;
}
.text-container h2 {
  color: #fff;
}
.hero-banner{
  padding-top: 50px;
  display: flex;
  height: 1150px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2) url('./assets/landingbannernotext.png') center/cover no-repeat; 
  align-items: center;
  justify-content: center;
  
}
.cards-container {
  position: relative;
  display: flex;
  justify-content: space-around; /* Adjust as needed */

}
.card{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  width: 500px;
  margin: 100px; /* Add margin as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
}
.card h2 {
  text-align: center;
  width: 100%; /* Ensure the heading takes full width */
}
.card p {
  text-indent: 20px;
  margin: 10px 0;
  width: 100%; /* Ensure paragraphs take full width */
}
.card p::before {
  /* content: '✔️'; Bullet point character */
  font-size: 24px;
  margin-right: 5px; 
  transform: translateX(-50%);
}
.model-1{
  border-radius: 10px;
  display: flex;
  margin-top: 100px;
  width: 700px;
  height: 510px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
}
/* Footer Layout */

.Footer-Container {
  position: sticky;
  overflow: hidden;
  bottom: 1;
  width: 100%;
  height: 350px;
  background-color: #111;
  color: #fff;
  justify-items: center;
  text-align: center;
}
.Ph-flag{
  position: relative;
  margin-bottom: -7px;
  width: 35px;
  height: 30px;
}
.copy-write{
  font-size: 15px;
  margin-top: 120px;
  font-weight: 200;
}
.Card-Container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo-footer {
  width: 150px;
  height: 150px;
}
.Info-footer {
  margin-right: auto; /* Push the Info-footer to the left as much as possible */
}
.Info-footer h4{
  padding-top: 15px;
}
.Card-Container-right {
  margin-left: 1px; /* Adjust as needed */
}
.tech{
  color: rgb(242, 60, 60);;
}
/* Virutal Staff page */

.VirtualStaff {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  height: 100vh; /* Adjust the height as needed */
 
  
}

.card-img {
  padding-top: 75px;

 
  
 /* Adjust the maximum height as needed */
}

.card-img img {
  height:700px;
  object-fit: cover; /* Adjust the value as needed (cover, contain, etc.) */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
/* Responsive Styles */
@media only screen and (max-width: 768px) {
  body, html {
    overflow-x: hidden;
  }
  .cards-container {
    overflow: hidden;
    flex-direction: column; /* Stack cards vertically on smaller screens */
    align-items: center; /* Center items horizontally in column direction */
  }
  .cards-container .card{
    overflow: hidden;
    width: 80%;
    margin-top: 5px;
  }
  .object1 img {
    padding: 5px 5px;
    background-size: contain;
    width: 100%;
    height: 250px;
  }
  .navbar{
    position: relative;
    transition: 0.5s all ease-in-out;
  }
  .navbar.expanded  .logo{
    position: relative;
    top: 200px;
    
  }
  .navbar.expanded{
    height: 100vh;
  }
  .navbar.expanded .links{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  .navbar.expanded .links li{
    margin: 10px 0;
    font-size: 24px;
  }
  .navbar.expanded .btn-main{
    position: absolute;
    top: 500px;
  }
  .navbar .btn-main{
    position: absolute;
    top: -300px;
  }
  .navbar .links {
    position: absolute;
    top: -300px;
  }
  .card-img img{
    width: 100%;
  
  }
  .navbar .toggle-icon{
  
    display: block;
    padding: 5px 5px;
    color: #D9D2C3;
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 9999;
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(90deg);
  }
  /* footer */
  .Card-Container {
    height: 320px;
    display: block;
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }


  .Info-footer h4{
    padding-top: 1px;
    justify-content: center;
    text-align: center;
   
  }
  .copy-write{
    font-size: 15px;
    margin-top: 0px;
    font-weight: 200;
  }
  .Card-Container-right{
    display: flex;
    justify-content: center;
    padding-top: 2px;
  }

  /* new hero banner */
 

  .text-container h1{
    font-size: 3rem;
  }
}